.item {
    width: 100%;
    padding: 10px 0;
}

.item .item-wrapper{
    background-color: #ffffff;
}

.item .item-wrapper .item-content{
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
}

.item .item-wrapper .item-content .item-title{
    font-weight: bold;
    font-size: 20px;
}

.item .item-wrapper .item-content div {
    padding: 5px 10px;
}